* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

.item {
  padding: 5px;
}

#right {
  height: 800px;
  width: 200px;
  background-color: #d5e8d4;
}

#left {
  height: 700px;
  width: 200px;
  background-color: #dae8fc;
}

.content {
    flex: 1;
}

#content1 {
  background-color: #b3b3b3;
}

#content2 {
  background-color: #77ffff;
}
